<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context.xsd
                  		http://www.springframework.org/schema/task 
						http://www.springframework.org/schema/task/spring-task-3.0.xsd
						http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">


    <aop:aspectj-autoproxy/>
    <context:component-scan base-package="com.jxnu"/>
    <task:annotation-driven executor="executor" scheduler="scheduler"/>
    <task:executor id="executor" pool-size="5"/>
    <task:scheduler id="scheduler" pool-size="5"/>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations" value="classpath*:es.properties,jdbc.properties"/>
    </bean>

    <!--<aop:config>
        <aop:aspect id="aspect" ref="aopTest">
            <aop:pointcut id="pointcut" expression="execution(* com.jxnu.spring.aop.*.*(..))"/>
            <aop:around method="testPoincutBy" pointcut-ref="pointcut" />
        </aop:aspect>
    </aop:config>-->

    <bean id="conversionService"  class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="registerDefaultFormatters" value="false"/>
        <property name="formatters">
            <set>
                <bean class="org.springframework.format.number.NumberFormatAnnotationFormatterFactory" />
            </set>
        </property>
        <property name="formatterRegistrars">
            <set>
                <bean class="org.springframework.format.datetime.joda.JodaTimeFormatterRegistrar">
                    <property name="dateFormatter">
                        <bean class="org.springframework.format.datetime.joda.DateTimeFormatterFactoryBean" >
                            <property name="pattern" value="yyyMMdd" />
                         </bean>
                    </property>
                </bean>
            </set>
        </property>
    </bean>

    <import resource="spring-jdbc.xml" />

</beans>
